# SAILS

## (1) Datos de Glottolog

In [1]:
## usamos pandas para leer los datos

import pandas as pd

In [2]:
## diccionario iso:glottocode
## https://glottolog.org/meta/downloads

langs = pd.read_csv('languages_and_dialects_geo.csv',sep=',')

In [3]:
## nos quedamos con un dataframe con dos columnas: iso vs glottocode

iso_glotto = langs[['isocodes','glottocode']]
iso_glotto = iso_glotto.dropna()

In [4]:
## diccionario iso:glottocode

iso_glotto = dict(zip(iso_glotto['isocodes'], iso_glotto['glottocode']))

In [5]:
## lenguas

print(len(iso_glotto))

7986

In [6]:
## filtramos por lenguas de las Américas

macroarea = langs[['isocodes','macroarea']]
macroarea = macroarea.dropna()

In [7]:
## creamos un diccionario iso:macroarea
## filtramos por macroarea 'South America' y 'North America'

macroarea = dict(zip(macroarea['isocodes'], macroarea['macroarea']))
macroarea = {language:macroarea[language] for language in macroarea.keys() if macroarea[language] in ['South America']}

In [8]:
print(len(macroarea))

546

In [9]:
## filtramos iso_glotto

iso_glotto = {iso:iso_glotto[iso] for iso in iso_glotto.keys() if iso in macroarea.keys()}

In [10]:
import pickle

pickle.dump(iso_glotto, open('iso_glotto.p', 'wb'))

In [11]:
print(len(iso_glotto))

546

In [12]:
macroarea = {iso_glotto[key]:macroarea[key] for key in macroarea.keys()}

In [13]:
## familias de las Américas

In [14]:
## miramos languoids

languoid = pd.read_csv('languoid.csv',sep=',')

In [15]:
languoid

,id,family_id,parent_id,name,bookkeeping,level,latitude,longitude,iso639P3code,description,markup_description,child_family_count,child_language_count,child_dialect_count,country_ids
0,3adt1234,afro1255,nort3292,3Ad-Tekles,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1,aala1237,aust1307,ramo1244,Aalawa,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
2,aant1238,nucl1709,nort2920,Aantantara,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
3,aari1238,sout2845,ahkk1235,Aari-Gayil,False,family,NaN,NaN,aiz,NaN,NaN,0,2,0,NaN
4,aari1239,sout2845,aari1238,Aari,False,language,5.95034,36.5721,aiw,NaN,NaN,0,0,0,ET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25223,zuti1239,tupi1275,guaj1255,Guajajára of Zutiua,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
25224,zuwa1238,koia1260,omie1241,Zuwadza,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
25225,zwal1238,atla1278,shal1242,Zwall,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
25226,zyph1238,sino1245,nucl1757,Zyphe,False,language,22.52400,93.2640,zyp,NaN,NaN,0,0,2,IN MM
25227,zyud1238,ural1272,komi1269,Zyuzdin,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN

In [16]:
## filtramos id:family_id (family)

id_family = languoid[['id','family_id']]
id_family = id_family.dropna()

In [17]:
id_family

             id family_id
0      3adt1234  afro1255
1      aala1237  aust1307
2      aant1238  nucl1709
3      aari1238  sout2845
4      aari1239  sout2845
...         ...       ...
25223  zuti1239  tupi1275
25224  zuwa1238  koia1260
25225  zwal1238  atla1278
25226  zyph1238  sino1245
25227  zyud1238  ural1272

[24799 rows x 2 columns]

In [18]:
## transformamos a diccionario

id_family = dict(zip(id_family['id'], id_family['family_id']))
id_family = {language:id_family[language] for language in id_family.keys() if language in iso_glotto.values() and language in macroarea.keys()}

In [19]:
id_family['huil1244']

'arau1255'

In [20]:
## guardamos como pickle

import pickle

pickle.dump(id_family, open('id_family.p', 'wb'))

In [21]:
len(id_family)

498

## (2) Datos de SAILS

In [22]:
## rasgos

features_sails = pd.read_csv('features_sails.csv',sep=',')

In [23]:
features_sails=features_sails.rename(columns={'Unnamed: 0': 'features'})

In [24]:
features_sails

,features,apol1242,maip1246,acha1250,achu1248,agua1253,yane1238,amar1274,apur1254,apal1257,...,wayo1238,xava1240,kwaz1243,yami1256,yucu1253,nhen1239,yuqu1240,yura1255,yavi1244,zapa1253
0,ARW1,ARW1-NK,ARW1-1,ARW1-0,NaN,NaN,ARW1-1,NaN,ARW1-1,NaN,...,NaN,NaN,NaN,NaN,ARW1-0,NaN,NaN,NaN,ARW1-NK,NaN
1,ARW1-1-03a,ARW1-1-03a-0,ARW1-1-03a-0,ARW1-1-03a-0,NaN,NaN,ARW1-1-03a-0,NaN,ARW1-1-03a-1,NaN,...,NaN,NaN,NaN,NaN,ARW1-1-03a-1,NaN,NaN,NaN,ARW1-1-03a-1,NaN
2,ARW1-1-03b,ARW1-1-03b-NK,ARW1-1-03b-0,ARW1-1-03b-0,NaN,NaN,ARW1-1-03b-0,NaN,ARW1-1-03b-0,NaN,...,NaN,NaN,NaN,NaN,ARW1-1-03b-0,NaN,NaN,NaN,ARW1-1-03b-0,NaN
3,ARW1-1-05,ARW1-1-05-1,ARW1-1-05-1,ARW1-1-05-1,NaN,NaN,ARW1-1-05-1,NaN,ARW1-1-05-1,NaN,...,NaN,NaN,NaN,NaN,ARW1-1-05-1,NaN,NaN,NaN,ARW1-1-05-1,NaN
4,ARW1-1-06,ARW1-1-06-NK,ARW1-1-06-0,ARW1-1-06-0,NaN,NaN,ARW1-1-06-0,NaN,ARW1-1-06-0,NaN,...,NaN,NaN,NaN,NaN,ARW1-1-06-NK,NaN,NaN,NaN,ARW1-1-06-0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,AND5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,AND6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,AND7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,AND8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,AND9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
len(list(features_sails.columns[1:]))

167

In [26]:
features=list(features_sails['features'])

In [27]:
features_pred = {}

for language in list(features_sails.columns[1:]):
    features_pred[language]=dict(zip(features,list(features_sails[language])))

In [28]:
for language in features_pred:
    D=features_pred[language]
    D={k: v for k, v in D.items() if pd.Series(v).notna().all()}
    D={key:D[key] for key in D.keys() if D[key][-2:]!='NK'}
    features_pred[language]=D

In [29]:
pickle.dump(features_pred, open('features_pred.p', 'wb'))